div{
    text-align: centre;
}

  #maa {
    transform: rotate(360deg);
  }
.flex-container {
    display: flex;
    flex-direction: row;

  }
  .flex-container{
    background-color: rgb(252, 255, 56); /* Set background color for the flex items */
    color: rgb(250, 155, 47); /* Set text color for the flex items */
    padding: 10px;
    
    border: 90px solid #ff3434; 
  }
.second{
    background-color:aqua;
    font-size:20px;
}
#specific-div{
    font-size:40px;
}
.grid-container {
    display: grid;
    grid-template-columns:30px 30px 30px 30px 30px; /* Three equal-width columns */
    grid-gap: 100px; /* Gap between grid items */
    background-color: #fff345;
    color:blue;
    padding: 100px;
    border: 30px solid #ff1f1f; 
    border-width: 30px;
  }
#maa{
width: 600px;
cursor: grab;
position: relative;
left:40;
border: 15px solid green;
padding: 10px;
margin: 50px;
border: 40px;
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  opacity: 0.5;
  border-radius: 25px;
   
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
  position: absolute;
    left: 0px;
    top: 0px;
        transform: rotateX(1deg);
        box-shadow: 20px 20px 20px;
        animation-name: vishal;
        animation-duration: 100s;
        -webkit-box-reflect: right;
        
      
    
}
  #maa{background-color: hsl(120, 100%, 50%);}  /* green */
#div {background-color: hsl(120, 100%, 75%);}  /* light green */
/* #p3 {background-color: hsl(120, 100%, 25%);}  dark green */
/* #p4 {background-color: hsl(120, 60%, 70%);}   pastel green */
  